.div result {
  text-align: center;
  font-size: 30px;
}
.container {
  height: 500px;
  width: 380px;
  margin-left: 800px;
  margin-top: 80px;
  background-color: white;
  border-radius: 20px;
  padding-top: 20px;
  box-shadow: 0px 4px 10px 1px black;
}
body {
  background-color: darkgray;
  color: black;
}
h1 {
  color: dodgerblue;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
h5 {
  text-align: center;
  margin: 1px;
  color: darkblue;
}
h6 {
  margin-top: 15px;
  margin: 1px;
  font-size: 15px;
  text-align: center;
  color: darkblue;
}
#result {
  margin-top: 20px;
}
label {
  text-align: center;
  color: darkblue;
  font-size: large;
}
.container p {
  color: darkblue;

  text-align: center;
  font-size: 30px;
}
input {
  padding: 5px;
  margin-left: 20px;
  border: solid 2px darkblue;
}

button {
  background-color: antiquewhite;
  color: black;
  margin-left: 110px;
  margin-top: 10px;
  padding: 5px;
  width: 150px;
  border-radius: 10px;
}
